@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1>Open Gate Logistics</h1>
        <p class="lead">Inicie Sesion Para Acceder a las Consultas de <b>Home Delivery</b></p>
    </center>
</div>
